@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    @apply scroll-smooth;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

.button-primary {
  @apply flex h-12 w-full items-center justify-center rounded border border-zinc-800 px-4 text-zinc-500 transition-all duration-300 hover:bg-zinc-800/20 hover:text-white;
}
