@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html {
    @apply scroll-smooth;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}
